.device-list {
	list-style-type: none;
	padding: 0;

	li:first-child {
		border-bottom: 1px solid lightGray;
	}

	li {
		display: block;
		height: 20px;
		padding: 12px;
		background-color: white;

		a {
			display: block;
			text-decoration: none;
		}
	}
}