<h2>iPhone Download</h2>
<p>Please follow the instructions below to download the T-Party Application for iPhone.</p>

<ol>
	<li>
		<p>Select the install link below.</p>
		<a href="itms-services://?action=download-manifest&url=https://s3.amazonaws.com/t-party-app-files/tparty.plist" class="install-link">
		Install T-Party for iPhone</a>
	</li>
	<li><p>If you receive an Untrusted Enterprise Developer warning. Navigate to <b>Settings > General > Profiles & Device Management > Slalom Consulting</b> and select <b>Trust</b></p></li>
	<li><p>When the alert view appears. Select <b>Install</b></p></li>
	<li>
		<p>Select the home button and locate T-Party App icon on your home screen</p>
	</li>
	<li>
		<p>Wait for install to complete and select the application to launch.</p>
	</li>
</ol>


<p>Not on an iPhone please choose the correct device below.<p>
<device-list></device-list>